* {
  box-sizing: border-box;
}

body {
  margin: 0;

}

.brand {
  font-size: 2rem;
}

.nav {
  background-color: #570303;
  color: white;
  display: flex;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
  justify-content: space-between;
  height: 60px;
}


.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;

}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav li:hover {
  opacity: 0.8;
  background-color: #7a2828;

}

.nav li:active {
  background-color: #2e1111;

}

.servicelist {}

.servicelist a {
  padding: 0.5rem;
  text-decoration: none;

}

.servicelist li {
  border: 1px solid black;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  list-style: none;
  display: block;
}

.servicelist li:hover {
  background-color: gray;
  filter: drop-shadow(0 0 5px 5px black);
  color: white;

}

.servicelist button {
  float: right;
}